# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
env/
*.hcl
*.tfstate
*.tfstate.backup
.terraform/
*.tar.gz
*.whl
*.egg-info

.env
forecasts.db
config.*json
digest.html
deploy/aws-magg.pub
